.nav {
  width: 100%;
  .navbar {
    width: 100%;
  }
  nav {
    width: 100%;
    .dropdown-menu {
      a.nav-link {
        padding: .25rem 1.5rem;
        width: 13rem;
      }
    }
    .tools-dropdown {
      .dropdown-menu {
        inset: 0 auto auto 0;
        transform: translate3d(-45px, 40px, 0px);
      }
    }
  }
}
